@import '@/styles/variables';
@import '@/styles/placeholders';

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-bottom: calc($gap * 2);
}

.page {
  @extend %box-inset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  color: $primary-color-font;
  transition: color 0.2s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $primary-color-active;
  }
}

.page--selected {
  @extend %box-inset-selected;

  cursor: default;
  pointer-events: none;
  color: $primary-color-active;
}
