@import '@/styles/variables';
@import '@/styles/placeholders';

input[type='file'] {
  position: absolute;
  width: calc(100% + 200px);
  height: 100%;
  left: -200px;
  top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.input__file {
  @extend %font-upper;

  color: $primary-color-font;
  padding: $gap;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px dashed $secondary-color-active;

  // .input__file--error
  &--error {
    border: 1px dashed $primary-color-error;
    color: $primary-color-error;
  }
}
