@import '@/styles/variables';
@import '@/styles/placeholders';

.radio {
  input {
    display: none;
  }

  label {
    @extend %font-upper;

    height: 2.6rem;
    display: flex;
    align-items: center;
    color: $primary-color-font;
    font-size: 1.2rem;
    position: relative;
    padding-left: 4rem;
    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $primary-color-active;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -0.2rem;
      width: 2.6rem;
      height: 2.6rem;
      border: 2px solid $primary-color-font;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0.3rem;
      top: 0.1rem;
      width: 2.4rem;
      height: 2.4rem;
      background-color: $primary-color-font;
      border-radius: 50%;
      display: none;
    }
  }

  input:checked + label {
    color: $primary-color-active;

    &::after {
      display: block;
    }
  }
}

.input__element {
  // .input__element--horisontal
  &--horisontal {
    background-color: $secondary-color-shadow;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: $gap;
    padding: calc($gap / 1.5) $gap !important;
    height: 6.5rem !important;
  }
}
