@import '@/styles/variables';
@import '@/styles/placeholders';

.cards__null {
  @extend %box;
  @extend %font-upper;

  color: $primary-color-font;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-top: calc($gap * 2);
}
