@import '@/styles/variables';

.search__line {
  display: flex;
  gap: $gap;
  position: relative;

  // .search__line input
  input {
    flex: 1 1 100%;
    padding-left: calc($gap + 2rem);
  }
}

.icon--search {
  position: absolute;
  left: 1.2rem;
  top: 1.3rem;
  opacity: 0.25;
  pointer-events: none;
}
