// sizes
$gap: 3rem;
$max-w: 126rem;
$header-h: 6rem;

// color scheme
$primary-color-font: #8a84c2;
$primary-color-fone: #d7d2fe;
$primary-color-shadow: #b7b3d8;

$primary-color-active: #453c99;
$secondary-color-active: #913c99;

$primary-color-error: #b11d1d;

$secondary-color-shadow: #f7f2ff;
